@model IEnumerable<MusicStore.Domain.POCO.Genre>

@{
    ViewBag.Title = "Index - Store";
}

<h3>Browse Genres</h3>
<p>Selecteer uit @Model.Count() genres :</p>
<ul>
    @foreach (var genre in Model)
    { 
        <li>@Html.ActionLink(genre.Name, "Browse", new { genre = genre.Name })</li>
    }
</ul>
