@model MusicStore.Domain.POCO.Genre

@{
    ViewBag.Title = "Browse";
}

<h2>Browse - Genre = @Model.Name</h2>
<ul>
@foreach (var album in Model.Albums)
{
    <li>@Html.ActionLink(album.Title,"Details",new{id=album.AlbumId}) - @album.Artist.Name</li>
}
</ul>