<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <clear/>
    <add name="TicketSystemDB.accdb" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\adri\Documents\GitHub\.NET\Projects\Voorbeelden\SupportTicketSystemSolution2\TicketSystemWFA_ADONET\TicketSystemDB.accdb;Persist Security Info=True"/>

  </connectionStrings>

</configuration>