@model MusicStore.Domain.POCO.Album

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<p>Are you sure you want to delete this album titled <strong>@Model.Title</strong>?</p>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
