@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>DbError</title>
</head>
<body>
    <h2>
        A database error has occurred while processing your request.
    </h2>
</body>
</html>