@{
    ViewBag.Title = "Index";
    /*
     * ViewData = Dictionary
     * ViewBag = Wrapper met Properties => Wrapper rond object, dus makkelijker aan te spreken. Spreekt zelfde data aan, enkel de manier waarop is anders.
     */
    // Zelfde resultaat als hierboven: ViewData["Title"] = "Index";
    
    // Wij gebruiker altijd ViewBag
}

<h2>Hello from Home.Index (View)</h2>
